bokeh>=3.8,<4
cartopy>=0.24,<1
colorcet>=3.1,<4
dask[dataframe]>=2025.1,<2027
datashader>=0.19,<1
duckdb>=1.3,<2
dynamical-catalog~=0.8.0
geoviews>=1.15,<2
holoviews>=1.23,<2
hvplot>=0.12,<1
intake>=2,<3
matplotlib>=3.9,<4
numpy>=2.1,<3
pandas>=2.2,<3
panel>=1.9,<2
param>=2.4,<3
pillow>=11,<13
pyarrow>=18,<24
pyproj>=3.7,<4
resvg_py>=0.3,<1
scipy>=1.14,<2
spatialpandas>=0.5,<1
tzdata>=2025.1
xarray>=2025.1
tsdownsample>=0.1,<1
xyzservices>=2025.4,<2027
